:root {
    --border: 20px;
    --blur: 10px;
    --color: #BADA55;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(216deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 35%, rgba(0,212,255,1) 100%);
    color: beige;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.control-panel > form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    border: var(--border) var(--color) solid ;
    filter: blur(var(--blur));
}
.title-element {
    color: var(--color);
}
