:root {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    font-size: 28px;
    font-weight: bold;
}
.panels {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.panel {
    padding: 1rem;
    position: relative;
    flex: 1;
    background-size: cover;
    background-position: center;
    text-align: center;
    transition: all cubic-bezier(.51,.37,0,1.27) 1s .2s;
}
.panel:hover {
    flex: 5;
    font-size: 30px;
}
.panel:hover > div > p.bottom,
.panel:hover > div > p.top {
    opacity: 1;
    margin-top: 0;
}
.panel > div {
    position: absolute;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p.bottom,
p.top {
    opacity: 0;
    margin-top: -4rem;
    transition: all ease-out 1s .5s;
}

.panel1 {
    background-image: url(./assets/01.jpg);
}
.panel2 {
    background-image: url(./assets/02.jpg);
}
.panel3 {
    background-image: url(./assets/03.jpg);
}
.panel4 {
    background-image: url(./assets/04.jpg);
}
.panel5 {
    background-image: url(./assets/05.jpg);
}