body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: auto;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.container {
    height: auto;
    width: 60%;
    background-color: firebrick;
    box-shadow: 5px 5px 3px black;
    padding: 0 1rem;
}
p {
    color: bisque;
}
img {
    width: 60%;
}
.align-left {
    float: left;
    margin-right: 10px;
    transform: translateX(-300px);
}
.align-right {
    float: right;
    margin-left: 10px;
    transform: translateX(300px);
}
.slide-in {
    opacity: 0;
    transition: all 1s ease;
}
.slide-in.active{
    opacity: 1;
}
.align-left.active,
.align-right.active {
    transform: translateX(0px);
}

